.one-row{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.dialog-divider{
    height: 1px;
    background-color: rgb(255, 255, 0);
    margin: 3 0 8px 0;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    border-radius: 0 !important;
}